.header {
  display: flex; // display the element with display flex
  justify-content: space-between; //space between the elements inside header
  padding: 5% 10%; //padding top and bottom 0px padding left and right 10px

  .header__archive,
  .header__settings {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
