.header {
  display: flex; // display the element with display flex
  justify-content: space-between; //space between the elements inside header
  padding: 0 10%; //padding top and bottom 0px padding left and right 10px
  margin-bottom: 10%; //margin bottom on 10px so the content under has some gap
}
