.touchDiv {
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
	}
}

.output-LEFT-RIGHT, .output-UP-DOWN{
    font-weight: bold;
    font-size: larger;
}